.Primary {
    padding-left: 0px;
}

.Secondary {
    padding-left: 15px;
}

.Tertiary {
    padding-left: 30px
}

.Containter {
    width: 90%;
    margin: auto;
    padding: 10px;
}
.ObjContainter {

}
.AltContainter {

}

.Alternative {
    display: inline-block;
    margin-right: 20px
}

.Hide {
    visibility: hidden;
}