.Container {
    display: flex;
}

.Objectives {
    height: 950px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px #ddd;
    width: 80%;
    margin: 0 auto;
}

.ObjectivesButtons {
    text-align: center;
    padding: 10px;
    position: relative;
    top: 0;
    left: 0;
}

.Active {
    box-shadow: 0px 0px 5px 2px green;
}

.ShowHide {
    position: fixed;
    left: 0px;
    visibility: visible !important;
}

.Hidden {
    visibility: hidden;
}

.None {
    display: none;
}

.Push {
    left: '30px';
}

.Title {
    text-align: center;
}

.Label {
    margin: 6px;
}

.BackButton {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    outline: none;
    background-color: #2bbcf1;
}

.AdvanceButton {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    outline: none;
    background-color: #0c8aba;
    color: white;
}

.InfoButton {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    outline: none;
    border: 1px solid #0c8aba;
}

.ExpandButton {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    outline: none;
}

.DisabledButton {
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    outline: none;
    background-color: #ddd;
    cursor: no-drop;
}

.ButtonSubmit {
    padding: 10px;
    margin: 5px;
    background-color: rgb(24, 116, 24);
    color: #fff;
    border-radius: 20px;
    outline: none;
}

.ButtonSubmit:hover {
    cursor: pointer;
}

.AdvanceButton:hover, .BackButton:hover, .InfoButton:hover, .ExpandButton:hover {
    cursor: pointer;
}

.HighlightGreen {
    border: 1px solid green;
    box-shadow: 0px 0px 2px 1px green;
}

.HighlightRed {
    border: 1px solid red;
    box-shadow: 0px 0px 2px 1px red;
}

.Intructions {
    width: 700px;
    margin: auto;
    text-align: initial;
}

.Direction {
    display: inline-block;
    margin-left: 15px;
}