.ModalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    z-index: 900;
}

.Modal {
    background-color: #fff;
    z-index: 999;
    width: 65%;
    margin: 0 auto;
    padding: 15px;
    margin-top: 25px;
}

.Button {
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #0c8aba;
    outline: none;
}

.Button:hover {
    cursor: pointer;
}

.Centered {
    text-align: center;
}