.Home {
    padding: 25px;
    box-shadow: 1px 1px 1px 1px #ddd;
    width: 80%;
    margin: 0 auto;
}

.Inner {
    width: 50%;
    margin: 0 auto;
}

.Buffer {
    margin-top: 30px;
    text-align: center;
}

.DisabledButton {
    font-size: 16px;
    border-radius: 20px; 
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: rgb(159, 162, 163);
}

.DisabledButton:hover {
    cursor: no-drop;
}

.Button {
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    background-color: #0c8aba;
    outline: none;
}

.Button:hover {
    cursor: pointer;
}

.CenteredTitle {
    text-align: center;
    background-color: #0c8aba;
    color: white;
    padding: 15px;
    border-radius: 30px;
}

.Centered {
    text-align: center;
}

.Input {
    width: 60%;
    margin: 5px;
    height: 25px;
    font-size: 15px;
    text-align: center;
}